.text-uppercase {
  text-transform: uppercase;
}

.section-title {
  flex-shrink: 0;
  white-space: nowrap;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.03em;

  @media screen and (min-width: 1280px) {
    font-size: 48px;
  }
}
