:root {
  --color-primary-dark: #010205;
  --color-primary-light: #ffffff;
  --color-secondary-dark: #878c91;
  --color-brand: #bae289;
  --color-copyright: #9b9b9c;
  --color-icons: #192031;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
