.button {
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  gap: 24px;
  padding: 1rem 2rem;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  border: 2px solid var(--color-primary-dark);
  border-radius: 70px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease;

  &__hero {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }

  &__icon {
    transition: transform 0.3s ease;
  }

  &:hover {
    color: var(--color-primary-dark);
    background-color: transparent;

    .button__icon {
      transform: translateX(3px);
    }
  }

  &__contact {
    gap: 42px;

    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}
