.entidades-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 394px; /* fallback for old browsers */
  width: clamp(394px, calc(394px + (100vw - 1280px) * 0.1), 410px);
  height: 100%;
  max-height: 520px;
  padding: 16px;
  color: var(--color-secondary-dark);
  background-color: var(--color-primary-light);
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.6;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  @media screen and (min-width: $bp-tablet) {
    padding: 32px;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__icon {
    flex-shrink: 0;
    margin: 0 auto;

    &.blue {
      fill: #45a7de;
    }
    &.green {
      fill: #99ea48;
    }
    &.brown {
      fill: #e0b21b;
    }
  }

  &__title {
    color: var(--color-primary-dark);
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }

  &__main-text {
    display: flex;
    align-items: center;
    max-width: 310px;
    height: 335px;
    font-size: 14px;
    line-height: 1.6;
  }
}
