.link {
  position: relative;
  display: inline-block;
  color: #020407;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-secondary-dark);
    opacity: 0;
    transform: translateY(4px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
}
