.header {
  padding: 30px 0;

  &__container {
    padding: 0 82px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 2rem;
  }

  /*  &__link {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
  } */

  /* .header__link:hover .link__underline {
    text-decoration: underline;
  } */
}
