.hero-section {
  padding: 36px 0 76px;

  &__container {
    position: relative;
  }

  &__text-part {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }

  &__title {
    margin-bottom: 48px;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.03em;
  }

  &__text {
    margin-bottom: 48px;
    max-width: 550px;
    color: var(--color-secondary-dark);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 716px;
    height: auto;
  }
}
